.recipeListContainer{
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: space-evenly;
    margin-top: 40px;
   flex-wrap: wrap;
}




.outerbox{
    display: flex;
    flex-direction: column;
    padding:20px;
    align-items: center;
    justify-content: space-evenly;
    border:1px solid lightblue;
    width:300px;
    border-radius: 10px;
    margin:10px;
}

.outerbox:hover{
    box-shadow: 5px 5px 10px 0px lightcyan;
}


.foodPic{
    width:200px;
    height:200px;
}

.recipeName{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:5px;
    
}

.ingredients{
    width:250px;
    height:30px;
    background-color: transparent;
    border:1px solid rgb(91, 165, 221);
    border-radius: 10px;
    margin:5px;
    font-size: 18px;
    cursor: pointer;
    color:rgb(15, 75, 121);
    font-weight: 300;
}

.ingredients:hover{
   background-color: rgb(91, 165, 221);
   color: white;
   font-weight: 200;
    cursor: pointer;
    box-shadow: 0px 4px 5px 0px lightgray;
}
.details{
    width:250px;
    height:30px;
    background-color: transparent;
    border:1px solid rgb(46, 220, 119);
    border-radius: 10px;
    margin:5px;
    font-size: 18px;
    cursor: pointer;
    color:rgb(23, 89, 50);
    font-weight: 300;
}

.details:hover{
    background-color: rgb(46, 220, 119) ;
    color: white;
    font-weight: 200;
     cursor: pointer;
     box-shadow: 0px 4px 5px 0px lightgray;
 }

 body{
background-color: rgb(231, 236, 241) }


